/* general roules */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

main{
  font-family: 'Montserrat', sans-serif;
}
/* HEASER'S ROULES */
header{
  background-color: rgba(0, 0, 0, 0);
  padding: 1% 5%;
  width: 100%;
  height: 60px;
  position: fixed;
  font-size: 12px;
  color: white;
}

header > img{
  display: inline-block;
}

nav{
  margin: 1% 40% 1% 3%;
  display: inline-block;

}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
  margin-left: 7px;
}

li > a{
  text-decoration: none;
  color: white;
}


header > button{
  background-color: rgb(12, 50, 90);
  padding: 7px 25px;
  border-radius: 3px;
  border: 2px solid white;
  color: white;
}

header > button:last-child{
  background-color: darkgreen;
  padding: 7px 6px;
  border-radius: 3px;
  border: 0;
  color: white;
}


/* END HEADER'S ROULES */






/* MAIN'S ROULES */


/* jumbo throne's roules */

section:first-child{
  background-color: rgb(12, 50, 90);
  background-image: url(../img/background-header.png);
  background-size: cover;
  height: 600px;
  padding: 15% 40% 5% 5%;
}

sectionh1
{
  width: 70%;
  font-size: 55px;
  color: white;
  margin-bottom: 12px;
}

section:first-child > button{
  width: 20%;
  height: 22%;
  background-color: darkgreen;
  padding: 7px 6px;
  border-radius: 3px;
  border: 0;
  color: white;
}


/* end jumbo throne's roules */


/* words ad collum's section */

section:last-child{
  padding: 0 15%;
}

section:last-child::after{
  content: "";
  display: table;
  clear: both;
}



.title{
  height:100px;
  background-color: lightgrey;
  padding: 20px;
}

.title > h2, h4{
  text-align: center;
}

.title > h4{
  color: gray;
}

.title > h2{
  color: black;
  margin: 0 0 -35px 0;
}

.left{
  /* background-color: gray; */
  float: left;
  width: 30%;
  margin:2% 1%;
  text-align: center;
}

.left > img{
  width: 30%;
}

.center{
  float: left;
  width: 30%;
  height: 400px;
  margin: 2% 3%;
  text-align: center;
}

.center > img{
  width: 52%;
}

.right{
  float: left;
  width: 30%;
  height: 400px;
  margin: 2% 1%;
  text-align: center;
}

.right > img{
  width: 35%;
}

.bottom{
  /* background-color: gray; */
  float: left;
  width: 100%;
  height: 400px;
  margin: 0 5%;
  padding: 5%;
}

hr{
  color: gray;
}

.bottom > img{
  width: 30%;
  float: left;
}

.text > h1{
  color: black;
}

.text > h4{
  text-align: left;
  margin-bottom: 15px;
}

.text{
  width: 35%;
  display: inline-block;
  margin-left: 25%;
}

.barra{
  width: 20%;
  height: 1px;
  border: 1px solid darkgray;
  margin: 0 40%;
}

h2{
  color: rgb(124, 187, 2);
  margin-bottom: 3%;
}

h4{
  color: gray;
  margin-top: 3%;
}


/* end words ad collum's section */

/* FOOTER'S ROULES */

footer{
  background-color: lightgray;
  height: 100px;
}


/* END FOOTER'S ROULES */
